/*1、基础设置*/
/*默认字体行高*/
html {font-size:15px;}
body,
.editor-inner textarea {line-height:1.6;}

/*左、中栏宽度*/
:root {--ls-left-sidebar-width:180px;--ls-main-content-max-width:760px;}
#main-content-container {padding-left:35px;padding-right:1rem;}

/*顶部强制高度*/
.cp__header {height:42px;}

/*清除滚动条、帮助*/
::-webkit-scrollbar,
.cp__sidebar-help-btn {display:none;}

/*图片、视频宽度间距*/
video,img {width:245px;margin:0;}
video {margin-top:0.5rem;}

/*删除线间距*/
hr {margin:0.75rem 0;}

/*斜体字体大小*/
i {font-size:0.8666666em;}

/*粗体*/
b, b .page-ref {font-weight:500;}

/*优先级*/
.priority {font-weight:200;opacity:0.5;font-size:0.86666em;}

/*重置h1-h6*/
.editor-inner .uniline-block:is(.h1,.h2,.h3,.h4, .h5, .h6),
.ls-block :is(h1, h2, h3, h4, h5, h6) {margin:0;padding:0;font-size:1rem;
  border:none;}
:is(h1, h2, h3, h4, h5, h6) :is(a.tag,i) {font-weight:400;}

/*table*/
table {margin:0;margin-top:12px;}
th {padding:0;font-size:0.86666em;border-bottom:0.5px solid;line-height:24px;}
.block-body>.table-wrapper>table>thead>tr>th {border-top:0.5px solid;}
th:first-child,td:first-child {padding-left:0.5rem;}
th:last-child {padding-right:0.5rem;}
td {padding:0.5rem 0;line-height:24px;padding-right:0.5rem;}
tr:nth-child(odd) {background:none;}

/*高亮*/
mark,
.ui__list-item-highlighted-span {border-radius:0;}
.page mark .page-reference:hover {background:none;}

/*引用*/
blockquote {border-left:5px solid;}

/*代码*/
.cm-s-solarized.cm-s-light {text-shadow:none;}
.cm-s-solarized.CodeMirror {box-shadow:none;}
.CodeMirror-code {line-height:1.643;}

/*筛选*/
.ls-filters .ui__button-size-sm {font-size:.8666666rem};

/*twitter*/
.twitter-tweet {max-width:245px !important;margin:0 !important;}

/*闪卡*/
.cards-review {padding:0;}
div[data-refs-self*='"card"'] {padding:2px 0;border-radius:0;--tw-shadow:none;
  --tw-shadow-colored:none;box-shadow:none;margin-bottom:0;}

/*youtube*/
.youtube-timestamp svg,
.kef-media-ts-ts svg,
.kef-mt-ts svg{display:none;}
.youtube-timestamp,
.kef-media-ts-ts,
.kef-mt-ts {font-size:.8em;font-weight:200;}

/*摘录*/
.block-content[data-type=annotation] .prefix-link {align-items:baseline;}
.block-content[data-type=annotation] .prefix-link>span>strong{font-weight:200;
  font-size:.8em;}
.ls-hl-colored .block-content[data-type=annotation] .prefix-link:before,
.block-content[data-type=annotation] .prefix-link:before {content:"";}
.prefix-link img {width:490px;}
.block-content[data-type=annotation] .hl-area {margin-top:0;}
.block-content[data-type=annotation] [data-hl-type=area] {margin-bottom:0;}

/*标签、链接、页面*/
a {transition:0s;}
a.tag {font-size:0.8666666em;font-style:italic;background:none;text-align:left;}
a.tag:hover {background:none;}
.ls-block .page-ref {padding:2px 0;border-bottom:0.5px solid;}
.external-link {border-bottom:0.5px solid;padding:2px 0;}
.external-link:hover {border-bottom:0.5px solid;}
:is(.block-properties,.foldable-title,.menu-link) .page-ref {border:none;}

/*gtd*/
.block-marker {display:none;}
.form-checkbox, 
.form-radio {border-radius:2px;width:0.8666666rem;height:0.8666666rem;border:none;}
.done,
.canceled {text-decoration:none;opacity:1;}
.canceled::before {content:"♻️";padding-right:4.7px;font-size:0.8666666em;}

/*块*/
.add-button-link svg{width:15px !important;height:15px !important;}
.block-children-left-border {left:-1.5px;}

/*块属性*/
.block-properties{margin:0;background:0;padding:0;line-height:2;}

.timestamp-label,
.timestamp .opacity-80 {margin-bottom:0.25rem;}

.ls-block .block-body .drawer[data-drawer-name="logbook"] {display:none;}

.timestamp-label,
.block-properties span.mr-1,
.page-property-key,
.timestamp .opacity-80 {font-weight:200;}

.block-properties,
.timestamp .text-sm,
.block-body .text-sm {font-size:0.8666666667rem;}

.page-property-key,
.block-properties span.mr-1,
.page-property-value>span,
.page-property-value,
.timestamp .opacity-80 {opacity:0.5;}
.page-property-value:hover,
.timestamp .opacity-80:hover {opacity:0.75;}
.page-property-value a.tag {font-size:inherit;font-style:normal;}

/*块嵌套*/
.ls-block:has(.embed-block)>.block-main-container>.block-control-wrap>
.bullet-link-wrap>.bullet-container.typed-list>.bullet {display:none;}
.embed-block>div.pb-2, 
.embed-block>div>div>div>div>.ls-block {padding:0;}
.embed-block.color-level,
.embed-block.color-level .color-level,
.embed-block.color-level .color-level .color-level,
.embed-block.color-level .color-level .color-level .color-level,
.embed-block.color-level .color-level .color-level .color-level .color-level,
.embed-block.color-level .color-level .color-level .color-level .color-level 
.color-level {background:none;}
.ls-block .block-content-wrapper>.flex .embed-block {margin-left:-46.5px;
  margin-right:-0.5rem;}

.embed-page {background:none !important;margin:0;padding:0;margin-right:-1rem;}
.embed-header {padding:0;}
.embed-page>section {margin-bottom:0;}
.embed-header>.mr-3 {margin-left:-22px;margin-right:7px;}
.embed-header>.mr-3>svg {margin-top:2px;}
.embed-page>.blocks-container {margin-left:-17px;}

/*块引用*/
.block-ref {border-bottom:none;}
.block-ref :is(.timestamp,.time-spent,.priority,.wordcount-btn,a.tag,
.block-marker,.block-content[data-type=annotation] .prefix-link) {
  display:none !important;}
.block-ref :is(.tag,.page-reference,.external-link) {pointer-events: none;}
.fade-link {font-weight:200;font-size:0.8666666667rem;}
.block-ref .block-ref {padding:2px 0;}
div[data-type="whiteboard-shape"]>.block-ref {display:inline;}
.block-ref :is(h1,h2,h3,h4,h5,h6) {font-size:inherit;}
.block-ref,
.block-ref .page-ref,
.block-ref p,
.block-ref b,
.block-ref b .page-ref{border-bottom:0;}
.block-ref .external-link {border-bottom:0 !important;}

/*2、右侧栏*/
/*清除顶部导航*/
.cp__right-sidebar-topbar {display:none;}
.sidebar-item-list {height:calc(100vh - 0px);margin-top:0;margin-left:0;}

/*清除sidebar-item之间的拖拽间距*/
.sidebar-drop-indicator {display:none;}

/*清除阴影*/
.shadow-md {--tw-shadow:none;--tw-shadow-colored:none;}

/*清除圆角*/
.sidebar-item.rounded-md,
.sidebar-item-header.rounded-t-md {border-radius:0px;}

/*清除背景*/
.sidebar-item-list,
.sidebar-item.color-level,
.sidebar-item-header.color-level,
.cp__right-sidebar .sidebar-item.collapsed.item-type-block .sidebar-item-header,
.cp__right-sidebar .sidebar-item.item-type-block .sidebar-item-header {
  background:none;}

/*隐藏sidebar-item头部页面与块的图标*/
.sidebar-item:not(:has(.search-results)) :is(.ls-icon-block,.ls-icon-page,
.ls-icon-list-details) {display:none;}

/*清除sidebar-item头部右侧功能按钮*/
.sidebar-item-header>.item-actions {display:none}

/*清除sidebar-item内部头部与内容的间距*/
.sidebar-item-header.pr-2{padding-right:0;}
.sidebar-item-header>.p-2 {padding:9px 0;}
.cp__right-sidebar .sidebar-item .initial.pt-4 {padding:0;padding-bottom:0.5rem;}
.sidebar-item-header>button>div.ml-1 {margin-left:0;}

/*统一字体粗细*/
.sidebar-item-header>button>div.font-medium {font-weight:initial;}

/*3、双链、query显示、对齐*/
/*清除背景、清除边距*/
.references-blocks-item {background:none;padding:9px 0;}

/*标题右侧边距清除*/
.references-blocks-wrap .foldable-title {margin-left:0;}

/*右侧栏双链边距清除*/
.cp__right-sidebar .references {margin-left:0;margin-right:0;}

/*右侧栏双链圆角清除*/
.references-blocks-item {border-radius:0;}

/*清除首页定制query间距*/
.custom-query.mt-10 {margin:0;}
.custom-query>div {margin-left:0 !important;}
.custom-query-results>div {margin:0 !important;}
.custom-query-page-result {border-radius:0;}

/*首页底部双链圆角*/
.cp__sidebar-main-layout .page .initial>.references-blocks>div>div>div>
div>div>div>div>div.references-blocks-item {border-radius:0.25rem;}

/*首页圆点与正文对齐*/
.cp__sidebar-main-layout .page>div:not(.flex.flex-col,.relative),
.cp__sidebar-main-layout .journal>div>div>.foldable-title {margin-left:-20px;}

/*namespaces & tagged 对齐*/
:is(.namespaces,.page-tags>div>div>div>ul.mt-2) {margin-left:39.5px !important;}

/*顶部标题对齐*/
.ls-page-title {padding:0;}
.ls-page-title h1 {margin-left:8px;}
h1.title {line-height:1.5;}
#journals .journal-item:first-child {margin-top:0;}
#journals .journal-item.content>.flex-1.journal.page>.flex.flex-col>.content>
.foldable-title>.items-center {align-items:baseline;}

/*块引用双链和高级query显示*/
.ls-block .references-blocks .references-blocks-item,
.ls-block .custom-query .custom-query-page-result {margin-bottom:2px;margin-top:2px;
  margin-left:-17.5px;border-left:1px solid var(--bd4,#0b4a5a);padding:9px 0;}

.ls-block .references-blocks .lazy-visibility:last-child 
.references-blocks-item:first-child,
.ls-block .custom-query .lazy-visibility:last-child 
.custom-query-page-result:first-child {margin-bottom:4px;}

.ls-block .references-blocks .lazy-visibility:first-child 
.references-blocks-item:first-child,
.ls-block .custom-query .lazy-visibility:first-child 
.custom-query-page-result:first-child {margin-top:0.5rem;}

.ls-block .custom-query>.th {margin:0;height:24px;}

/*块引用双链显示隐藏块嵌套*/
.ls-block .references-blocks .references-blocks-item .embed-block {display:none;}

/*空页面对齐*/
.cp__right-sidebar .sidebar-item .page>div>div>.ls-block>div.flex-row {
  padding-left:18.5px;min-height:44px;}
.cp__sidebar-main-content .page>div>div>.ls-block>div.flex-row {min-height:44px;}
.cp__sidebar-main-content .page>div>div>.ls-block>div.flex-row>.flex-row {
  margin-left:2px;}

/*4、面包屑*/
/*字体*/
.breadcrumb {font-size:13px;line-height:24px;}
.page>div>div>div>.breadcrumb {font-size:1rem;}

/*箭头换成原本的*/
.breadcrumb :is(.youtube-timestamp,.timestamp,.time-spent,
.block-ref input,.wordcount-btn,.priority,ol),
.breadcrumb>span:not(.opacity-70) {display:none;}

.breadcrumb>:is(a,span.opacity-70):not(a:first-child)::before {
  content:"➤";opacity:0.25;padding-left:.5rem;padding-right:.5rem;}

.breadcrumb>a:hover:not(a:first-child)::before {opacity:0.5 !important;}

:is(.references-blocks,.custom-query) .breadcrumb>span.opacity-70::before,
.references-blocks .breadcrumb .block-ref::before {content:"" !important;
  padding-left:0 !important;padding-right:0 !important;}

/*双链下面包屑左侧边距清除，右侧增加边距*/
:is(.references-blocks,.custom-query-page-result) .breadcrumb {
  margin-left:22px;margin-right:0.5rem;}

/*右侧栏“块引用”下方面包屑，间距调整*/
.sidebar-item>div.relative>.initial.p-4>.ml-8 {margin-left:22px;}

/*disable block-ref links in breadcrumbs */
div.block-parents a:not(:nth-child(3)) :is(div.block-ref-wrap,.external-link,
a[target="_blank"]) {pointer-events:none;cursor:default;}

.references-blocks .breadcrumb a:is(:nth-child(3)) 
:is(div.block-ref-wrap,.external-link){pointer-events:none;}

/*面包屑不适合显示的元素隐藏*/
:is(.breadcrumb .embed-block,.breadcrumb .cards-review,.breadcrumb .dsl-query,
.breadcrumb>a>div:not([style="display: inline;"]),
.breadcrumb .asset-ref-wrap)::before,
.breadcrumb>a>span>div>div.contents::after{content:"〇";}

.breadcrumb :is(.embed-block>div, iframe,.cards-review>div,.dsl-query>div,
.twitter-tweet,.cp__fenced-code-block,blockquote),
.breadcrumb>a>span>div>span.flex.items-center,
.breadcrumb>a>div>.is-paragraph,
.breadcrumb .table-wrapper,
.breadcrumb .asset-ref-wrap>video {display: none !important;}

.breadcrumb>a>span>div {display:inherit;}

.breadcrumb>a>div:not([style="display: inline;"]),
.breadcrumb .embed-block {display:inline-block;
}

.breadcrumb .embed-block {background:initial !important;}

/*5、箭头、标题*/
/*箭头*/
.block-control, .block-control:hover {padding-top:3.5px;}

/*标题左侧箭头间距调整*/
:is(.custom-query,.scheduled-or-deadlines,.references,
.page-hierarchy,.references-blocks-item,.journal) 
.foldable-title>div>a.block-control {margin-left:0px !important;margin-right:0;}

/*箭头：双链日期标题位移清除*/
.references-blocks-wrap .foldable-title .block-control {right:0;top:0;}

/*标题字体行高*/
.sidebar-item-header .page-title, 
:is(.references-blocks-item,.custom-query-page-result) .foldable-title,
.sidebar-item-header>button>div.font-medium.ml-1 {
  font-size:13px;line-height:24px;}

/*箭头：sidebar-item内部头部左边距*/
.sidebar-item-header>button>span.pr-1 {padding-left:2px;padding-right:3px;}

/*命名空间标题清除左边距*/
.cp__right-sidebar .page-hierarchy {padding-left:0;} 

/*筛选组件最小高度*/
.fade-link {height:24px;}

/*6、圆点*/
/*变小*/
.bullet-container .bullet {width:5px;height:5px;}
.bullet-container {width:12px; height:12px;margin:2px;margin-left:1.5px;}

/*清除列表背景*/
.bullet-link-wrap:hover .bullet-container.typed-list .bullet {
  background:none !important;}

/*数字与圆点对齐*/
.block-control-wrap.is-order-list .bullet-link-wrap {left:-4.2px;}
.block-control-wrap {padding-right:9px;}

/*7、界面隐藏*/
/*顶部*/
.cp__header>.l.drag-region,
.cp__header>.r>div.flex-row>div>.navigation,
.cp__header>.r>div>button.toggle-right-sidebar,
.cp__header>.r>div>button[title="Home"] {display:none;}

/*左侧栏*/
.nav-header,
.graph-icon,
.left-sidebar-inner .nav-content-item .header .ui__icon,
.create {display:none;}

/*调整间距*/
.left-sidebar-inner .page-icon {margin-left:0;width:18px;}
.nav-content-item .header a.rounded-md>span.ml-2 {margin-left:0;}
.left-sidebar-inner .nav-content-item .bd ul a {padding:0.3rem 1.5rem;
  padding-right:0.5rem;}
.left-sidebar-inner>.wrap {margin-top:47px;}
.left-sidebar-inner .nav-contents-container {padding-bottom:0;}

/*8、搜索*/
.search-results .text-sm {font-weight:400;font-size:15px;line-height:1.6;}
.sidebar-item-list .ls-icon-search svg {width:13px !important;}
div[label="ls-modal-search"] .ui__modal-panel {
  border:1px solid var(--ls-left-sidebar-border-color,
    var(--lx-gray-03,var(--ls-tertiary-background-color)));
}

:is(div[label="ls-modal-search"],.sidebar-item-list) input.text-xl {font-size:1rem;
	}
:is(div[label="ls-modal-search"],.sidebar-item-list) 
:is(.border-gray-07,.border-gray-06) {border:none;background:none;}

:is(div[label="ls-modal-search"],.sidebar-item-list) .text-xs.text-gray-11 {
  font-weight:400;font-size:13px;color:var(--bd,#8abbbb);
  opacity:var(--opc1);background:none;padding-top:0.5rem;padding-bottom:0.5rem;
}
:is(div[label="ls-modal-search"],.sidebar-item-list) .text-xs.text-gray-11 
:is(.font-bold,
.text-gray-12,.text-link), .ui__button-theme-gray.ui__button-color-custom {
  font-weight:400;font-size:13px !important;color:var(--bd,#8abbbb);
  opacity:var(--opc1);
}

.search-results>div>div>div>div>div.items-center:has(.ls-icon-block) {
  align-items:baseline;}

.search-results>div>div>div>div>div.items-center>div.bg-gray-05 {
  position:relative;top:2px;}

.search-results>div>div>div>div>div>div.bg-gray-05:has(>.ls-icon-block) {
  /*display:none;*/}
.search-results>div>div>div>div>div.pl-8:has(>.breadcrumb) {padding-left:0;
margin-bottom:0.5rem;}
.search-results>div>div>div>div>div.pl-8>.breadcrumb {font-weight:400;}
.search-results>div>div>div>div.py-1\.5 {padding-top:9px;padding-bottom:9px;}

.pl-0\.5 {padding-left:0;}
.py-1\.5 {padding-top:9px;padding-bottom:9px;}
.px-3 {padding-left:22px;padding-right:0.5rem;}

.gap-3 {gap:6.5px;}

/*9、插件与自定义*/
/*首行放大*/
.cp__sidebar-main-content div:not(.custom-query)>div>div>
div:not(.custom-query-results)>.content>.blocks-container>div>div>
.ls-block:not(.pre-block):not([level])>div.flex-row {align-items:baseline;}

.cp__sidebar-main-content .content>.blocks-container>div>div>
.ls-block:not(.pre-block):not([level])>div:first-child>
.block-content-wrapper>.flex .block-content-inner>div.flex-1,

.cp__sidebar-main-content .content>.blocks-container>div>div>
.ls-block:not(.pre-block):not([level])>div:first-child>
.editor-wrapper .editor-inner textarea {min-height:1.5em;font-size:2rem;
  font-weight:200;margin:0.4em 0 0;line-height:1.5;}

.cp__sidebar-main-content .content>.blocks-container>div>div>
.ls-block:not(.pre-block):not([level])>div:first-child>
.block-content-wrapper>.flex .block-content-inner>div.flex-1
.block-ref>div>div.block-content-inner::before {font-size:0.8666666667em;}

/*修复*/
.cp__sidebar-main-content :is(.embed-block,.custom-query .blocks-container) 
:is(.block-content-inner>div.flex-1,.editor-wrapper>.editor-inner>textarea),
.cards-review, .asset-action-bar button,.custom-query {
  font-weight:initial !important;margin-top:0 !important;font-size:1rem !important;
  min-height:initial !important;}

.cp__sidebar-main-content div:not(.custom-query-results).content>
.blocks-container>div>div>.ls-block:not(.pre-block):not([level])>div:first-child>
.editor-inner .uniline-block:is(.h1, .h2, .h3, .h4, .h5, .h6),
.cp__sidebar-main-content div:not(.custom-query-results)>.content>
.blocks-container>div>div>.ls-block:not(.pre-block):not([level])>div:first-child>
.block-content-wrapper>.flex .block-content-inner>div.flex-1
:is(h1, h2, h3, h4, h5, h6) {font-size:2rem;font-weight:200;}

.cp__sidebar-main-content div:not(.custom-query-results)>.content>
.blocks-container>div>div>.ls-block:not(.pre-block):not([level])>div:first-child>
.block-content-wrapper>.flex .block-content-inner>
div.flex-1 :is(b,b .page-ref,a.tag) {font-weight:200;}

.cp__sidebar-main-content div:not(.custom-query-results).content>
.blocks-container>div>div>.ls-block:not(.pre-block):not([level])>div:first-child 
.block-content-inner>div.flex-1 :is(h1, h2, h3, h4, h5, h6) {margin:0;}

.cp__sidebar-main-content .page-property-value .block-content-inner>div.flex-1 {
  font-size:1rem !important;font-weight:initial !important;}

.cp__sidebar-main-content .content>.blocks-container>div>div>
.ls-block:not(.pre-block):not([level])>div:first-child 
.block-content-inner>div.flex-1 .embed-block {font-size:1rem !important;}

.cp__sidebar-main-content :is(.references-blocks,.custom-query) 
.breadcrumb .block-content-inner>div.flex-1 {font-size:inherit !important;
  font-weight:inherit !important;}

.custom-query .breadcrumb i {font-size:inherit;opacity:inherit;}

/*copy url*/
.logseq-copy-url-button {width:1rem;}

/*form*/
.kef-lf-wc {display:none;}

/*smart-search*/
.ls-block:has(.kef-ss-container) .block-main-container {padding-right:0;}
.ls-block:has(.kef-ss-container) .block-control-wrap {display:none;}
.ls-block:has(.kef-ss-container) .block-content-wrapper {width:calc(100% - 0px);}
.kef-ss-listitem {padding:9px 11.25px;padding-left:22px}
.kef-ss-inline .kef-ss-container {margin-left:auto;width:auto;margin-top:0px;
  background:var(--wb-bg);box-shadow:none !important;}
.kef-ss-inputhint{display:none;}
.kef-ss-input {background:none !important;box-shadow:none !important;
  padding:0.75rem;line-height:1.5;margin-bottom:0;border-bottom:none;
  padding-left:22px}
.kef-ss-list {border:none;font-size:13px;}
.input[type=password], input[type=text] {font-size:1rem;}
.kef-ss-input:focus {border:none;}
.kef-ss-chosen {background:var(--lx-bg-override,
  var(--lx-gray-03-alpha,var(--ls-tertiary-background-color))) }

.kef-ss-b-segs {font-size:1em;}
/*.kef-ss-inline .kef-ss-list {height:calc(100vh);}*/

/*bullet-threading*/
@media (min-width: 768px) {
:root {
  --ls-block-bullet-active-color: var(
    --ls-block-bullet-threading-active-color-overwrite,
    var(--bg6,#608e91)
  );
  --ls-block-bullet-threading-width: var(
    --ls-block-bullet-threading-width-overwrite,
    1px
  );
}

.block-control {
  z-index: 1;
}

.block-children-container {
  position: relative;
}



.block-content-wrapper {
  position: relative;
}



.ls-block div.block-control-wrap {
  position: relative;
  height: 24px !important;
}
.ls-block > .items-baseline {
  align-items: initial;
}

.ls-block .ls-block > div > div.items-center::before {
  pointer-events: none;
  content: "";
  left: calc(var(--ls-block-bullet-threading-width) * -1);
  right: 17px;/*20*/
  top: calc(-50% + var(--ls-block-bullet-threading-width) * 0.5 - 1px);
  bottom: 48%;
  /* shift left 1px for border */
  position: absolute;
  border-left: var(--ls-block-bullet-threading-width) solid transparent;
  border-bottom: var(--ls-block-bullet-threading-width) solid transparent;
  border-bottom-left-radius: 3px;
  z-index:9;
}


.sidebar-item-list .ls-block .ls-block > div > div.items-center::before {
  bottom: 47%;
}

.ls-block .ls-block:focus-within > div > div.items-center::before {
  border-color: var(--ls-block-bullet-active-color);
}

.ls-block .block-children > .ls-block::before {
  pointer-events: none;
  content: "";
  top: -1rem;
  bottom: 0;
  border-left: var(--ls-block-bullet-threading-width) solid transparent;
  left: calc(var(--ls-block-bullet-threading-width) * -1);
  position: absolute;
}

.ls-block .block-children:focus-within > .ls-block:not(:focus-within)::before {
  border-color: var(--ls-block-bullet-active-color);
}

.ls-block .block-children:focus-within > 
  .ls-block:focus-within ~ .ls-block::before {
  border-color: transparent;
}

.ls-block[haschild] > div > .block-content-wrapper::before {
  pointer-events: none;
  content: "";
  top: 12px;
  bottom: 0;
  left: -17.5px;
  position: absolute;
  border-left: var(--ls-block-bullet-threading-width) solid transparent;
  z-index:9;
}  
  

.cp__sidebar-main-content 
.content>.blocks-container>div>div>
.ls-block[haschild]:not(.pre-block):not([level])>div:first-child>
.block-content-wrapper::before {
  top: 30px;
}

.ls-block[haschild]:focus-within > div > .block-content-wrapper::before {
  border-color: var(--ls-block-bullet-active-color);
}

:is(.embed-block > div, .embed-page) > div > div > div > div.ls-block > 
  div > div.items-center::before {
  border-color: transparent !important;
}
}
@media (max-width: 640px) {
  .ls-block[haschild] > div > .block-content-wrapper::before {
    left: -11px;
  }
}
@media (min-width: 768px) {
/* Disable for doc mode */
.doc-mode div.items-center::before,
.doc-mode div.items-center::after,
.doc-mode .ls-block::before,
.doc-mode .ls-block::after {
  display: none;
}

.doc-mode .block-children {
  border-left-width: 0px !important;
}
}

/*回收*/
.ls-block[data-refs-self*="recycle"] .block-content-inner>div>
:is(span,h1,h2,h3,h4,h5,h6) {
  text-decoration:line-through;text-decoration-color:gray;}

/*10、字体、边框、颜色*/
/*1 基础设置：宽度、颜色、透明度*/
:root {
  --ft1:rgba(68,68,68,1);
  --bg3:rgba(92,111,128,0.3);
}

.light-theme, .white-theme, html[data-theme=light] {
  --ls-primary-text-color:rgba(68,68,68,1);
  --ft0:rgba(68,68,68,0.5);
  --bg0:rgba(92,112,128,1);
  --bg0-1:rgba(92,112,128,1);
  --bg1-1-1:rgba(92,112,128,0.075);
  --bg1:rgba(92,112,128,0.05);
  --bg2:rgba(92,112,128,0.025);
  --bg1-1:rgba(247,249,249);
  --bg4-1:rgba(25,108,161,1);
  --bg4:rgba(25,108,161,0.035);
  --bg5:#202B33;
  --bg6:#394B59;
  --bg7:#CED9E0;
  --bg8:#137CBD;
  --bg9:#F5F8FA;
  --bg10:#fff;
  --bg11:rgba(23,32,38);
  --bg12:hsl(204,20%,45%);
  --bg13:#137CBD;
  --bd:rgba(92,112,128,0.6);
  --bd-1:rgba(92,112,128,0.25);
  --bd2:#30404D;
  --bd3:#D8E1E8;
  --bd4:#BFCCD6;
  --proty:rgba(92,112,128,1);
  --text:rgba(68,68,68,0.75);
  --opc1:1;
  --wb-bg:#fff;
  --link-hover:#1a537c;
  --color-level-1:rgba(25,108,161,0.03);
  --color-level-2:rgba(25,108,161,0.03);
  --color-level-3:rgba(25,108,161,0.03);
  --color-level-4:rgba(25,108,161,0.03);
  --color-level-5:rgba(25,108,161,0.03);
  --color-level-6:rgba(25,108,161,0.03);
}

.dark-theme, html[data-theme=dark] {
  --proty:rgba(138,187,187,1);
  --text:rgba(164,181,182,0.5);
  --link-hover:#d0e8e8;
  --opc1:0.8;
}

th {border-bottom-color:var(--bd4,#0b4a5a);color:var(--bd,#8abbbb);
  opacity:var(--opc1);}
.block-body>.table-wrapper>table>thead>tr>th {border-top-color:var(--bd4,#0b4a5a);}
mark,.ui__list-item-highlighted-span {background-color:hsl(51,98%,81%) !important;
  color:var(--ft1);}
.page mark .page-ref {color:var(--ft1);}
blockquote {border-left-color:var(--bd2,#0e5263);
  background-color:var(--bg9,#023643);}
.cm-s-solarized.cm-s-light {background-color:var(--bg1);}
.cm-s-solarized.cm-s-light .CodeMirror-gutters {background-color:var(--bd2);}

.bullet-container .bullet {background-color:var(--bg6,#608e91)}

.bullet label {color:var(--bg6,#608e91);font-weight:500;}
.bullet-container:not(.typed-list).bullet-closed,
.bullet-link-wrap:hover .bullet-container:not(.typed-list) {
  background-color:var(--bg7,#0f4958);}

.bullet-link-wrap:hover .bullet-container:not(.typed-list) .bullet {
  background-color:var(--bg6,#608e91) !important;}

:is(h1,h2,h3,h4,h5,h6).canceled,
.canceled, del,
:is(.canceled,del) .page-reference .page-ref,
:is(.canceled) .block-ref,
:is(.canceled) code,
:is(.canceled) b{color:var(--text) !important;}

.block-ref .canceled,
.block-ref .canceled .block-ref,
.block-ref .canceled .page-reference .page-ref {
  color:var(--ls-link-ref-text-color) !important;}

:not(pre)>code {background-color:var(--ls-page-properties-background-color);}

a.tag {color:var(--bd,#8abbbb);opacity:var(--opc1);}

.page-ref {color:var(--ls-primary-text-color);}

:is(.page-ref,.external-link):hover {background:var(--bg1-1-1);}

.ls-block .page-ref {border-bottom-color:var(--ls-block-ref-link-text-color);}

.external-link {border-bottom-color:0.5px solid var(--ls-block-ref-link-text-color);}

.external-link:hover {border-bottom-color:var(--ls-block-ref-link-text-color);}

:is(.ls-block,.breadcrumb) i{color:var(--bd,#8abbbb);opacity:var(--opc1);}
:is(.ls-block,.breadcrumb) i .page-ref {color:var(--bd,#8abbbb);}
:is(.ls-block,.breadcrumb.block-parents) i .external-link {color:var(--bd,#8abbbb);}
:is(.ls-block,.breadcrumb) i .page-ref:hover {color:var(--ls-link-ref-text-color); }

b, b .page-ref {color:rgba(237,70,30) !important;}
hr {border-color:var(--bd4,#0b4a5a);opacity:.5;}
.priority {opacity:0.5;color:var(--bg0);}

.block-content[data-type=annotation] .prefix-link>span>strong{opacity:.5;
  color:var(--bd,#8abbbb);opacity:var(--opc1);}

.block-content[data-type=annotation] .prefix-link>span>strong:hover{opacity:.75;}

.youtube-timestamp,
.kef-media-ts-ts,
.kef-mt-ts {color:var(--bd,#8abbbb);opacity:var(--opc1);}

.logbook,
.fade-link,
.page-property-key.page-ref,
.timestamp .timestamp-label {color:var(--proty);}

.page-property-value a.tag {font-size:inherit;color:var(--ls-primary-text-color);
  font-style:normal;}

.block-children {
  border-left-color:var(--bd4,#0b4a5a) !important;
}

.block-ref,
.block-ref .page-ref,
.block-ref p,
.block-ref b,
.block-ref b .page-ref{
  color:var(--ls-link-ref-text-color) !important;
}

.block-ref code {
  color:var(--ls-link-ref-text-color) !important;}

.block-ref:hover,
.block-ref:hover .block-body {background:var(--bg1-1-1);
  border-bottom:0.5px solid var(--ls-block-ref-link-text-color);}

.block-ref:hover .page-ref,
.block-ref:hover .block-body p{color:var(--ls-link-ref-text-hover-color);}

.embed-block>div>div>div>div>.ls-block>div>div>a>span>.bullet {
  background-color:#0F9960;}

.sidebar-item.color-level {background:var(--bg2,rgba(4,51,64,1));}

.sidebar-item.color-level:nth-child(4n) {background-color:var(--bg1,#023643);}

:is(.references-blocks,.custom-query) .foldable-title .page-ref {
  color:var(--bg0-1,#8abbbb);opacity:var(--opc1);font-weight:500;}

.custom-query .results-count {color:var(--proty);font-weight:200;font-size:0.8666666667rem;
    max-width:100px;}

.breadcrumb.block-parents a {color:var(--bg0-1);}

.breadcrumb :is(.external-link,.canceled,code) {
  color:var(--bg0-1,#8abbbb);opacity:var(--opc1);}

.breadcrumb>a:first-child {opacity:1;}

.references-blocks-item {background-color:var(--color-level-1);}
.ls-block .references-blocks-item {background-color:var(--color-level-2);}
/*白板*/
:is(body[data-page="whiteboards"],body[data-page="whiteboard"]) 
.shadow-lg.color-level {
  background-color:var(--wb-bg);}
